{% extends "webtools/webtools.html" %}
{% block title %}HTTP Header check{% endblock %}
{% block webtoolshead %}
{% endblock %}
{% block webtoolscontent %}

<form method='post'>
{{ form.as_p }}
<input style="margin-bottom:15px" type='submit'>
</form>
{% if output %}
<pre>
{{ output }}
</pre>
{% endif %}

{% endblock %}

{% block tail %}

{% endblock %}
<script>

</script>
