{% extends "master.html" %}
{% block submenu %}
	<div class="subnavbar">
		<ul>
			<ul>
				<li><a href="{% url 'webtools.views.main' %}">HTTP Header check</a></li>
			</ul>
		</ul>
	</div>
{% endblock %}
{% block content %}
	{% block webtoolscontent %}
		
	{% endblock %}
{% endblock %}
